<h1> Dashboard</h1>
<%# <p>Find me in app/views/admin/dashboard/show.html.erb</p> %>
<hr>
<div class="panel panel-success">
    Total products: <%= @num_products %>
  </div>

<div class="panel panel-success">
    Total categories: <%= @num_categories %>
  </div>


  